# dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/

# Production / build
/build

# Python / YOLO / Pycache / Weights
__pycache__/
*.py[cod]
*$py.class
*.pt
*.onnx
*.engine

# Environment variables
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Exclude dataset & training runs
dataset/
runs/

.vercel
.env*
